
$backgroundColor:rgb(252, 248, 248);
  

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

header{
    
}
.header{
    display: flex;
    justify-content: space-between;
    padding: 10px 5px;
    background-color: $backgroundColor;
  
    
}

.left-header,.right-header{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
.navMenu{
    font-size: 32px;
}
.navs{
    font-size: 20px;
}
.site{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    font-weight: 500;
    line-height: 1.3;

}
.hidden{
    display: none;
}
.body{
    position: relative;
}
.clickMenu{
    background-color:$backgroundColor ;
    top: 0;
    animation-name: example1;
    animation-duration: 2s;
    position: absolute;
    width: 100%;

  
}
.reverseHead{
    background-color:$backgroundColor ;
    top: 0;
    right: 0;
    animation-name: example2;
    animation-duration: 2s;
    position: absolute;
  
}
@keyframes example1 {
    0% {
    
    
     background-color: $backgroundColor;
    
      width: 0;
      opacity: 0;
   
    }
      25%{
      
        background-color: $backgroundColor;
        width: 100%;
        
       
      
    }
    50%{
        
        background-color: $backgroundColor;
        width: 100%;
      


    }
    75%{
        background-color: $backgroundColor;
        width: 100%;
        opacity: 1;

    }

    100% {
    background-color:$backgroundColor;
    opacity: 1;


   
    right: 0;
    top:0;
    width: 100%;
    
    }
  }
  @keyframes example2 {
    0% {
    
    
     background-color:$backgroundColor;
     width: 100%;
     right: 0;
     bottom:0;
   
    }
      25%{
      
        background-color: $backgroundColor;
        width: 100%;
      
    }
    50%{
        
        background-color: $backgroundColor;
        width: 100%;

    }
    75%{
        background-color: $backgroundColor;
        width: 100%;

    }

    100% {
    background-color:$backgroundColor;
    left: 0;
    top: 0;
  
    width: 0;
    
    }
  }

  .site2{
    @extend .site;
  }
a{
    text-decoration:none ;
    color: black;
    font-size: 18px;
}
.product{
    padding: 16px 28px;
    display: flex;
    justify-items: center;
    justify-content: space-between;
    text-transform: uppercase;
    
}
.product-icon{
    font-size: 20px;
}
.close{
    font-size: 32px;
    padding: 10px;
}
// <!-- Hight Jewellery section -->
.titleSec{
    font-size: 24px;
    padding: 16px 28px;
    display: flex;
    text-transform: uppercase;
    gap: 20px;
    
}
.high-jewel{
    
    background-color: $backgroundColor;
    background-color:$backgroundColor ;
    top: 0;
    animation-name: example3;
    animation-duration: 3s;
    position: absolute;
    width: 100%;
}

@keyframes example3 {
    0% {
    
    
     background-color: $backgroundColor;
    
      width: 0;
      opacity: 0;
   
    }
      25%{
      
        background-color: $backgroundColor;
        width: 100%;
       
      
    }
    50%{
        
        background-color: $backgroundColor;
        width: 100%;
      

    }
    75%{
        background-color: $backgroundColor;
        width: 100%;
        opacity: 1;

    }

    100% {
    background-color:$backgroundColor;
    opacity: 1;


   
    right: 0;
    top:0;
    width: 100%;
    
    }
  }